*{
    padding: auto;
    margin: 0px;
    
}

body
{
    font-family: 'Goldman' , cursive;
    
    
}
.active {
display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
    color: white;
    
}
.active :hover
{ color:#FFA200;}




.navbar{
    position: fixed;
    width: 100%;
    z-index: 9999;
background-color: #00629B;    
}

.nav-logo>img { width: 200px;
    
}










video
{
    max-width: 100%;
    height: auto;
    
}
h1{
    color: orange;
    font-family: cursive;
        margin-left: 15px;

}
h2
{
    color: #00629B;
        margin-left: 15px;
    

}

#hackathon
{
     text-align: center;
    padding: 20px;
    margin-left: 25%;
border: 1px solid #FFA200 ;
    border-radius: 50px; 
    width: 50%; 
}

#hackathon:hover {
    background-color: #FFA200;
    cursor: pointer;
    color: white;
    transition-duration: 0.6s;
    
}

#xtreme{
 text-align: center;
    padding: 20px;
    margin-left: 25%;
border: 1px solid #FFA200 ;
    border-radius: 50px; 
    width: 50%; 
 
}


#xtreme:hover{
    background-color: #FFA200;
    cursor: pointer;
    color: white;
    transition-duration: 0.6s;
}

#contactform>button {
    background-color: #00629B;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;}


    #contactform>button:hover{
color: #FFA200;}


h3{
        margin-left: 40px;

}

#contactform{ margin-left: 15px;
    
    
}
    
    
    
}
#contactinformation
{
    text-align: right;
    margin-right: 40px;
    margin-top: 40px; 
    color: #00629B;
}

.container {
    
    display: grid;
    grid-template-columns: auto  auto auto ;
    margin top: 20ox;
}

#aboutus {  position: absolute;
padding : 20px;
    width: 90%;


}

#contactus { position: absolute;
    margin-top: 17%;
    padding: 20px;
    width: 98%;
    
    
    
    
}

.contact-container>span
{
    margin-left: 50px;
    
}

span>div{
    vertical-align: middle;
}


.contact-container>span, #contactform {
    display: inline-grid;
}



